<!--<div class= "main_contents">-->
  <% if ad_user_signed_in? %>
    <aside class="myspeak">
            <div class="follow-situation">
              <% if current_ad_user.image.attached? %>
              <p class="aside-trim-image" style="background-image: url(<%= rails_blob_path(current_ad_user.image) %>)"></p>
              <% else %>
              <div class="aside-trim-image"><%= image_tag('noimage.jpg',class: "aside-trim-image") %></div>
              <% end %>
              <p style="letter-spacing: 0.3em">※評価者※</p>
              <div><%= current_ad_user.family_name %>&nbsp;<%= current_ad_user.first_name %></div>
              <div>ニックネーム：<%= current_ad_user.nickname %></div>
              <div>職業：<%= current_ad_user.occupation %></div>
              <div>役職：<%= current_ad_user.position %></div>
              <div class="follow-number">
                <span><b><%= Crossfollow.where(followable_id: current_ad_user.id,followable_type: "ad_user").count %></b></span><br>
                <span><b>フォロー</b></span>
              </div>
              <div class="follow-number">
                <span><b><%= Crossfollow.where(ad_user_id: current_ad_user.id).count %></b></span><br>
                <span><b>フォロワー</b></span>
              </div>
            </div>
            <div class="new-speak-index">
               <p style="margin-bottom: 0px"><b>&nbsp;<新着情報></b></p>
             <%= render partial: 'speaks/content', collection: @contents %>
            </div>
         </aside>
    <div class="index_wrapper">
     <%= render partial: 'speaks/speak', collection: @speaks %>
     </div>
         
   <% elsif st_user_signed_in? %>
     <aside class="myspeak">
           <div class="st-follow-situation">
              <% if current_st_user.image.attached? %>
              <p class="aside-trim-image" style="background-image: url(<%= rails_blob_path(current_st_user.image) %>)"></p>
              <% else %>
              <div class="aside-trim-image"><%= image_tag('noimage.jpg',class: "aside-trim-image") %></div>
              <% end %>
              <div><%= current_st_user.family_name %>&nbsp;<%= current_st_user.first_name %></div>
              <div>ニックネーム：<%= current_st_user.nickname %></div>
              <div>学校：<%= current_st_user.school %></div>
              <div>学年：<%= current_st_user.grade %></div>
              <div class="follow-number">
                <span><b><%= current_st_user.followings.count %></b></span><br>
                <span><b>フォロー</b></span>
              </div>
              <div class="follow-number">
                <span><b><%= current_st_user.followers.count %></b></span><br>
                <span><b>フォロワー</b></span>
              </div><br>
                <div class="follow-number">
                <span><b><%= Crossfollow.where(followable_id: current_st_user.id,followable_type: "st_user").count %></b></span><br>
                <span style="font-size: 11px"><b>評価者フォロー</b></span>
              </div>
              <div class="follow-number">
                <span><b><%= Crossfollow.where(st_user_id: current_st_user.id).count %></b></span><br>
                <span style="font-size: 11px"><b>評価者フォロワー</b></span>
              </div>
            </div>
            <div class="new-speak-index">
              <p style="margin-bottom: 0px"><b>&nbsp;<新着情報></b></p>
             <%= render partial: 'speaks/content', collection: @contents %>  
            </div>  
         </aside>
     <div class="index_wrapper">
       <%= render partial: 'speaks/speak', collection: @speaks %>
      </div>
         
   
   <% else %>
   <div class="letslogin">
     <h1 class="login">ログインして始めましょう！</h1>
      <p class="logintag"><%= link_to "☑️生徒（投稿者）ログイン",new_st_user_session_path %></p>
      <p class="logintag"><%= link_to "☑️生徒（投稿者）新規登録",new_st_user_registration_path %></p>
      <p class="logintag"><%= link_to "☑️評価者ログイン",new_ad_user_session_path %></p>
      <p class="logintag"><%= link_to "☑️評価者新規登録",new_ad_user_registration_path %></p>
    <% end %>
   </div>
<!--</div>-->

