<div class="ns-wrapper">
  <% if content.st_user.image.attached? %>
       <a href="/st_users/<%= "#{content.st_user.id}" %>"><p class="side-trim-image" style="background-image: url(<%= rails_blob_path(content.st_user.image) %>)"></p></a> 
  <% else %>
       <a href="/st_users/<%= "#{content.st_user.id}" %>"><img src="noimage.jpg" class="side-trim-image" /></a>
  <% end %>
       <p class="side-speak">ニックネーム : <%= content.st_user.nickname %> (<%= content.st_user.grade %>)</p>

     <time><%= time_ago_in_words content.created_at %>前</time>
     <p class="side-speak">分野 :  <%= content.field %></p> 
     <p class="side-speak">題名 :  <%= content.subject %></p>
     <p class="side-speak">本文 :<a class="linkmoji" href="/speaks/<%= "#{content.id}" %>">全て見る</a><br>
     <p class="side-speak-text"><%= content.text %></p></p>
</div>  