
 <div class="speakindex">
   <div class ="speak-box">
     <div class="myself-box">
       <a href="/st_users/<%= "#{speak.st_user.id}" %>"><p class="trim-image-to-circle" style="background-image: url(<%= rails_blob_path(speak.st_user.image) %>)"></p></a> 
       <p class="speakindex_name">ニックネーム : <%= speak.st_user.nickname %> (<%= speak.st_user.grade %>)</p>
     </div>
     <time><%= time_ago_in_words speak.created_at %>前</time>
     <p class="speakindex_p">分野 :  <%= speak.field %></p> 
     <p class="speakindex_p">題名 :  <%= speak.subject %></p>
     <p class="speakindex_p">本文 :<a class="linkmoji" href="/speaks/<%= "#{speak.id}" %>">全文を見る</a><br><%= speak.text %></p> 
   </div> 
   
   <div class="speak-reply">
      <span>コメント<%= speak.comments.count %>件</span>
      <%= form_tag(new_comment_path, method: :get, class: "question_submit") do %>
      <%= hidden_field_tag(:speak_id, speak.id) %>
      <%= submit_tag("コメントする") %>
    <% end %>
   </div> 
 </div>


