<% if st_user_signed_in? %>  
  <div class="posting_form">
    <header class="posting_header">
      <!--<div class="posting_image icon_image" style="background-image: url(< rails_blob_path( current_user.image) );"></div>-->
      <div class="posting_user_info">
        <%= current_st_user.nickname %>さんの投稿
      </div>
    </header>
    <div class="newspeak">
    <%= form_for(@speak) do |f| %>
      <% if @speak.errors.any? %>
        <h3>入力した内容にエラーが<%= @speak.errors.count %>件あります</h3>
         <ul>
          <% @speak.errors.full_messages.each do |message| %>
           <li><%= message %></li>
          <% end %>
         </ul>
       <% end %>
      <%= f.select :field,[["",""],["今週のテーマ","今週のテーマ"],["学校・地域","学校・地域"],["趣味","趣味"],["勉強","勉強"],["読書","読書"],["フリー","フリー"]], placeholder: "選択してください" %>
      <%= f.text_field :subject ,maxlength:20, placeholder: "題名を記入してください" %>
      <%= f.text_area :text ,maxlength:1500, placeholder: "本文",:style=>"width:400px; min-height: 400px; top: 0;" %>
      <%= f.submit "投稿する" %>
    </div>
    <% end %>
  </div>
<% else %>
      まずはユーザー登録をお願いします！<%= link_to "トップページ", root_path %><%= link_to "ユーザー登録",new_ad_user_registration_path %>
<% end %>