<%= form_for(Crossfollow.find_by(followable_id: current_st_user.id,followable_type: "st_user",ad_user_id: @ad_user.id), html: { method: :delete }) do |f| %>
  <div><%= f.hidden_field :followable_id %></div>
   <div><%= f.hidden_field :followable_type %></div>
   <div><%= f.hidden_field :ad_user_id %></div> 
  <%= f.submit "アンフォロー", class: "btn-follow" %>
<% end %>

