<div class="user-page">
  
  <p><%= @ad_user.nickname %>さんのユーザーページです。</p>
  <h2><%= @ad_user.name %><span><%= @ad_user.name_kana %></span></h2>
  
   <% if @sd_user.image.attached? %>
     <div class="image" style="background-image: url(<%= rails_blob_path(@ad_user.image) %>)"></div>
  　
   <% else %>
   現在アイコンがありません。プロフィール編集画面から登録しましょう♪
     <div class="image"><%= image_tag 'noimage.jpg' %></div>
  　
   <% end %>
   <% if current_ad_user.id == @ad_user.id %>
    <p><%= link_to "プロフィール編集", edit_ad_user_path(current_ad_user) %></p>
   <% end %>
</div>