<%= form_for(current_ad_user.crossfollows.build(followable_id: current_ad_user.id, followable_type: "ad_user",st_user_id: @st_user.id)) do |f| %>
  <div><%= f.hidden_field :followable_id %></div>
   <div><%= f.hidden_field :followable_type %></div>
   <div><%= f.hidden_field :st_user_id %></div>
  <%= f.submit "フォロー", class: "btn-follow" %>
<%end%>