<!DOCTYPE html>
<html>
  <head>
    <title>Speakout</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="common_header">
      <div>メニュー</div>
      <div>検索</div>
      <h2>Speak Out!</h2>
      <h2>マイページ</h2>
      <h2>新規投稿</h2>
      <h2>ログアウト</h2>
      <li><%= link_to "ログアウト", destroy_ad_user_session_path, method: :delete %></li>
      <li><%= link_to "ログアウト", destroy_st_user_session_path, method: :delete %></li>
      <h2>違反告知</h2>
    </div>
    <div class="container">
      <%= bootstrap_flash %>
      <%= yield %>
    </div>
    <footer class='row text-center'>
        <p>(C) SpeakOut 2018</p>
    </footer>
  </body>
</html>
