<!DOCTYPE html>
<html>
  <head>
    <title>Speakout</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="common_header clearfix">
      <div class="menu">メニュー</div>
      <div class="search">検索</div>
      <h2 class= "header_title"><%= link_to "Speak Out!",root_path,:style=>"color:white;" %></h2>
        <div class="right-box">
          <% if st_user_signed_in? %>
            <p class= "header_mypage"><%= link_to "マイページ", st_user_path(current_st_user),:style=>"color:white;" %></p>
          <% elsif ad_user_signed_in? %>
            <p class= "header_mypage"><%= link_to "マイページ", ad_user_path(current_ad_user),:style=>"color:white;" %></p>
          <% else %>
          <% end %> 
          <a class="post" href="/speaks/new">投稿する</a>
          <% if ad_user_signed_in? %>
          <p class="header_link"><%= link_to "ログアウト", destroy_ad_user_session_path, method: :delete,:style=>"color:white;" %></p>
          <% elsif st_user_signed_in? %>
          <p class="header_link"><%= link_to "ログアウト", destroy_st_user_session_path, method: :delete,:style=>"color:white;" %></p>
          <% end %>
          <h2 class="violation">違反告知</h2>
        </div>
    </div>
    <div class="container clearfix">
      <%= bootstrap_flash %>
      <%= yield %>
    </div>
    <footer class='footer'>
        <p>(C) SpeakOut 2018</p>
    </footer>
  </body>
</html>
